<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>
        <h:body>
            <h:form>
                <p:layout fullPage="true">
                    <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                        Cube Summation
                    </p:layoutUnit>
                    <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    </p:layoutUnit>
                    <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                        <p:menu>
                            <p:submenu label="Resources">
                            </p:submenu>
                        </p:menu>
                    </p:layoutUnit>
                    <p:layoutUnit id="ww" position="center">
                        <p:toolbar>
                            <f:facet name="left">
                                <p:commandButton value="Procesar" update="panel" actionListener="#{controlBean.manejaBoton}" style="margin-right:20px;" />
                            </f:facet>
                        </p:toolbar>                        
                        <p:panel id="panel" header="" style="margin-bottom:10px;">
                            <p:growl id="growl" showDetail="true" sticky="true" /> 
                            <h:panelGrid columns="2" cellpadding="5">
                                <h:outputText  value="Entrada"  />
                                <h:outputText  value="Salida"  />
                                <p:inputTextarea id="textarea1" rows="10" cols="30" value="#{controlBean.entrada}" style="overflow: auto;" />
                                <p:inputTextarea id="textarea2" rows="10" cols="30" value="#{controlBean.salida}"  />
                            </h:panelGrid>
                        </p:panel>
                    </p:layoutUnit>
                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>

